.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700");

:root {
  --sun-color: #ffe65c;
  --sun-color-rgba: rgb(255, 230, 92);
  --card-sunny: #6495ed;
  --moon-night: #2f3475;
  --moon: #ffe646;
  --moon-wave: rgb(79, 85, 148);
  --snow-day: #1ec9ed;
  --foreground-mountain: #82dff9;
  --background-mountain: #00b4d8;
}

body {
  background-color: #2f3475;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.city-search {
  position: absolute;
  bottom: 0;
  z-index: 5;
}

.card--weather {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.weather--indicator {
  vertical-align: middle;
  width: 100%;
  display: inline-block;
  height: 50%;
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 6vw;
  margin: auto;
  color: white;
  z-index: 2;
  font-family: "Montserrat Alternates", sans-serif;
}

.moon-indicator {
  text-shadow: 1px 3px #182067;
}
.sun-indicator {
  text-shadow: 1px 3px #ff9406;
}
.sunny-day {
  background-color: var(--card-sunny);
  box-shadow: 0 5px 10px var(--card-sunny);
  animation: 0.3s ease-in-out sunny-hover--back both;
}

.moon-night {
  background-color: var(--moon-night);
  box-shadow: 0 5px 10px var(--moon-night);
  animation: 0.3s ease-in-out moon-hover--back both;
}

.snow-day {
  background-color: var(--snow-day);
  box-shadow: 0 5px 10px var(--snow-day);
  animation: 0.3s ease-in-out snow-hover--back both;
}

/* CLOUDY */
.cloudy {
  animation: cloudy 5s ease-in-out infinite;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: #ffffff 6rem -6vh 0 -5rem, #ffffff 8rem 5rem, #ffffff 0rem 5rem,
    #ffffff 5rem 1rem;
  height: 20vh;
  width: 40vw;
  margin-left: -60px;
  position: absolute;
  top: 20rem;
  right: 9rem;
  z-index: 1;
}
.cloudy:after {
  animation: cloudy_shadow 5s ease-in-out infinite;
  background: #000000;
  border-radius: 50%;
  content: "";
  height: 5rem;
  width: 30rem;
  opacity: 0.2;
  position: absolute;
  left: 1rem;
  top: 25rem;
  transform: scale(1);
}
@keyframes cloudy {
  50% {
    transform: translateY(-20px);
  }
}
@keyframes cloudy_shadow {
  50% {
    transform: translateY(20px) scale(0.7);
    opacity: 0.05;
  }
}

/* STARRY */
.starry {
  animation: starry_star 5s ease-in-out infinite;
  background: #fff;
  border-radius: 50%;
  box-shadow: #ffffff -5rem 10rem 0 -1px,
    rgba(255, 255, 255, 0.1) 19rem -19px 0 -1px,
    rgba(255, 255, 255, 0.1) 1rem -34px 0 -1px, #ffffff 14rem 9rem 0 -1px,
    #ffffff -1rem 5rem, rgba(255, 255, 255, 0.1) 10rem 3rem, #ffffff 13rem 20rem,
    rgba(255, 255, 255, 0.1) 11rem 12rem 0 -1px, #ffffff 17rem -3rem 0 -1px,
    rgba(255, 255, 255, 0.1) 32px 20rem 0 -1px, #ffffff 15rem 4rem,
    rgba(255, 255, 255, 0.1) -1rem 14rem 0 -1px, #ffffff 3rem -4rem,
    rgba(255, 255, 255, 0.1) -5rem 4rem 0 -1px;
  height: 1.5rem;
  width: 1.5rem;
  margin-left: -10px;
  opacity: 1;
  position: absolute;
  right: 30rem;
  top: 20vh;
}
.starry:after {
  animation: starry 5s ease-in-out infinite;
  border-radius: 50%;
  box-shadow: #ffffff -6.5rem 0;
  content: "";
  height: 35rem;
  width: 35rem;
  position: absolute;
  top: -6rem;
  left: 8rem;
  transform: rotate(-5deg);
  transform-origin: 0 50%;
}

@keyframes starry {
  50% {
    transform: rotate(10deg);
  }
}
@keyframes starry_star {
  50% {
    box-shadow: rgba(255, 255, 255, 0.1) -5rem 10rem 0 -1px,
      #ffffff 19rem -19px 0 -1px, #ffffff 1rem -34px 0 -1px,
      rgba(255, 255, 255, 0.1) 14rem 9rem 0 -1px,
      rgba(255, 255, 255, 0.1) -1rem 5rem, #ffffff 10rem 3rem,
      rgba(255, 255, 255, 0.1) 13rem 20rem, #ffffff 11rem 12rem 0 -1px,
      rgba(255, 255, 255, 0.1) 17rem -3rem 0 -1px, #ffffff 32px 20rem 0 -1px,
      rgba(255, 255, 255, 0.1) 15rem 4rem, #ffffff -1rem 14rem 0 -1px,
      rgba(255, 255, 255, 0.1) 3rem -4rem, #ffffff -5rem 4rem 0 -1px;
  }
}

/* SUNNY */
.sunny {
  width: 35rem;
  height: 35rem;
  border-radius: 100%;
  position: absolute;
  top: -4rem;
  right: -2.8rem;
  background-color: var(--sun-color);
  animation: sun-rays 4s infinite;
  box-shadow: 0 0 1rem rgba(255, 192, 98, 0.4), 0 0 0 2.8rem rgb(255, 198, 102),
    0 0 0 3rem rgb(255, 175, 73), 0 0 0 4.8rem rgb(255, 177, 77);
}

@keyframes sun-rays {
  0% {
    box-shadow: 0 0 1rem rgba(255, 192, 98, 0.4),
      0 0 0 2.8rem rgb(255, 198, 102), 0 0 0 3rem rgb(255, 175, 73),
      0 0 0 4.8rem rgb(255, 177, 77);
  }
  50% {
    box-shadow: 0 0 0.8rem rgba(255, 192, 98, 0.4),
      0 0 0 2.2rem rgb(255, 198, 102), 0 0 0 2.8rem rgb(255, 175, 73),
      0 0 0 4.4rem rgb(255, 177, 77);
  }
  100% {
    box-shadow: 0 0 1rem rgba(255, 192, 98, 0.4),
      0 0 0 2.8rem rgb(255, 198, 102), 0 0 0 3rem rgb(255, 175, 73),
      0 0 0 4.8rem rgb(255, 177, 77);
  }
}

/* LOADING SPINNER */
.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

.loader-message {
  text-shadow: none;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Arrow */
.arrow-container {
  bottom: 10rem;
  width: 25px;
  /* cubic-bezier-easing = sine / mehr Beispiele: https://easings.net/ */
  animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
  height: 20px;
}

.arrow-down {
  height: 6px;
  background: white;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
  border-radius: 5px;
}
.arrow-down:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 100%;
  border-radius: 5px;
  background: white;
  transform: rotate(-90deg);
  transform-origin: 0% 100%;
}

@keyframes bounce {
  50% {
    transform: translateY(-15px);
  }
}
